<section id="contact-us">
    <div class="section-title">
        <h2>Contact Us</h2>
        <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
    </div>

    {% for contact in structures['contact'] %}
    <section class="tac-section">
        <div class="tac-block">
            <h3>{{ contact['sectionTitle'] }}</h3>
            {% set articleVar = contact['article'].split('/')[-1].split('.')[0] %}
            {{ articles[articleVar] }}

            <form action="https://formspree.io/f/xandalro" method="POST">
                <div class="tac-infos">
                    <input type="text" class="tac-name skewed-block" b-role="block" placeholder="Name" name="Name" required>

                    <input type="email" class="tac-email skewed-block" b-role="block" placeholder="Email" name="Email" required>
                </div>

                <textarea class="tac-message skewed-block" b-role="block" placeholder="Message" rows="7" name="Message" required></textarea>

                <input type="submit" value="Send" class="tac-send skewed-block g-recaptcha" b-role="btn" b-hoverable data-sitekey="6Ldh7sErAAAAAI0gM9qwdI_tTsov6JYHqr9-uwE1" data-callback='onSubmit' data-action='submit'>
            </form>
        </div>
    </section>
    {% endfor %}
</section>