<section id="group-life">
    <div class="section-title">
        <h2>Group Life</h2>
        <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
    </div>

    {% for groupLife in structures['groupLife'] %}
    <section class="glf-section" which="slider">
        <div class="glf-slider-header">
            <h3>{{ groupLife['sliderTitle'] }}</h3>

            <div class="glf-slider-btns">
                <button type="button" class="glf-slider-btn skewed-block" b-role="btn" b-hoverable onclick="glfSliderPush(-1)" aria-label="Last Photo">
                    <svg><use href="/assets/sprite.svg#svg-slider-left"></use></svg>
                </button>

                <div class="glf-slider-num">
                    <span class="glf-slider-current-num">1</span>
                    <span>/</span>
                    <span class="glf-slider-total-num">{{ groupLife['showInSlider'] }}</span>
                </div>

                <button type="button" class="glf-slider-btn skewed-block" b-role="btn" b-hoverable onclick="glfSliderPush(1)" aria-label="Next Photo">
                    <svg><use href="/assets/sprite.svg#svg-slider-right"></use></svg>
                </button>
            </div>
        </div>

        <div class="glf-slider">
            <div class="glf-slider-wrapper">
                {% for item in groupLife['items'][-1:(-1-groupLife['showInSlider']):-1] %}
                <div class="glf-slider-block" current-slide="{% if loop.index == 1 %}true{% else %}false{% endif %}">
                    {% set imgPathFront = item['imgPath'].split('.')[0] %}
                    <div class="glf-slider-img skewed-block" b-role="block" style="background-image: url({{ imgPathFront }}-20w.webp);">
                        <img
                            loading="lazy" 
                            src="{{ item['imgPath'] }}" 
                            srcset="
                                {{ imgPathFront }}-200w.webp 200w,
                                {{ imgPathFront }}-400w.webp 400w,
                                {{ imgPathFront }}-600w.webp 600w,
                                {{ imgPathFront }}-800w.webp 800w,
                                {{ imgPathFront }}-1200w.webp 1200w,
                                {{ imgPathFront }}-1600w.webp 1600w,
                                {{ imgPathFront }}-2000w.webp 2000w
                            "
                            size="(max-width: 45rem) 100svw, 45rem"
                            alt="{{ item['month'] }} {{ item['year'] }}. {{ item['description'] }}"
                            draggable="false"
                        />
                    </div>

                    <div class="glf-slider-text">
                        {{ item['month'] }} {{ item['year'] }}. {{ item['description'] }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <h3>{{ groupLife['sectionTitle'] }}</h3>
    {% if groupLife['filter'] %}
    <div class="filter" where="{{ groupLife['filterId'] }}">
        <span class="filter-title">{{ groupLife['filterTitle'] }}</span>
        {% set ns = namespace(filterItems=[]) %}
        {% for item in groupLife['items'] %}
            {% if item['year'] not in ns.filterItems %}
                {% set ns.filterItems = ns.filterItems + [item['year']] %}
            {% endif %}
        {% endfor %}
        {% for filterItem in ns.filterItems[::-1] %}
        <label class="filter-block skewed-block" b-role="btn" b-hoverable>
            <input class="filter-checkbox" type="checkbox" where="{{ groupLife['filterId'] }}" value="{{ filterItem }}"{% if loop.index <= groupLife['filterDefaultCheck'] %} checked{% endif %}/>
            <div class="filter-label">
                <svg><use href="/assets/sprite.svg#svg-check"></use></svg>
                {{ filterItem }}
            </div>
        </label>
        {% endfor %}
    </div>
    {% endif %}

    <section class="glf-section" which="all">
        {% for item in groupLife['items'][::-1] %}
        <div class="glf-block filter-content" where="{{ groupLife['filterId'] }}" data-value="{{item['year']}}">
            {% set imgPathFront = item['imgPath'].split('.')[0] %}
            <div class="glf-img skewed-block" b-role="block" b-hoverable style="background-image: url({{ imgPathFront }}-20w.webp);">
                <img 
                    loading="lazy"
                    src="{{ item['imgPath'] }}" 
                    srcset="
                        {{ imgPathFront }}-200w.webp 200w,
                        {{ imgPathFront }}-400w.webp 400w,
                        {{ imgPathFront }}-600w.webp 600w,
                        {{ imgPathFront }}-800w.webp 800w,
                        {{ imgPathFront }}-1200w.webp 1200w,
                        {{ imgPathFront }}-1600w.webp 1600w,
                        {{ imgPathFront }}-2000w.webp 2000w
                    "
                    sizes="20rem"
                    alt="{{ item['month'] }} {{ item['year'] }}. {{ item['description'] }}"
                />
            </div>
            <span class="glf-img-text">
                {{ item['month'] }} {{ item['year'] }}
            </span>
        </div>
        {% endfor %}
    </section>
{% endfor %}
</section>