<section id="publications">
    <div class="section-title">
        <h2><a class="section-title-link" href="/publications/">Publications</a></h2>
        <a class="more skewed-block" href="/publications/" b-role="btn" b-hoverable>
            <div>All Publications</div>
            <svg><use href="/assets/sprite.svg#svg-arrow-right"></use></svg>
        </a>
    </div>

    {% for publication in structures['home_publications'] %}
    {% set home_items = publication['items'][:publication['showInHome']] %}
    <div class="publi-group" id="home-pub-{{ loop.index }}">
        <h3 class="publi-group-title">Recent Publications</h3>
        <div class="news-rows">
            {% for item in home_items %}
            {% if item['link'] %}
            <a class="news-row news-row--link" target="_blank" rel="noopener" href="{{ item['link'] }}">
            {% else %}
            <div class="news-row">
            {% endif %}
                <div class="news-row-date">
                    <span class="news-row-mm">{{ item['month'] }}</span>
                    <span class="news-row-yy">20{{ item['year'][1:] }}</span>
                </div>
                <div class="news-row-body">
                    <p class="news-row-title">{{ item['title'] }}</p>
                    {% if item.get('journal') %}
                    <span class="publi-row-journal">
                        {%- if item.get('volume') -%}{{ item['journal'] }}, Vol. {{ item['volume'] }}.{%- else -%}{{ item['journal'] }}.{%- endif -%}
                    </span>
                    {% endif %}
                </div>
                {% if item['link'] %}
                <span class="news-row-arrow" aria-hidden="true">
                    <svg><use href="/assets/sprite.svg#svg-arrow-top-right"></use></svg>
                </span>
                {% endif %}
            {% if item['link'] %}
            </a>
            {% else %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
