<section id="publications">
    <div class="section-title">
        <h2>Publications</h2>
        <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
    </div>

    {% for publication in structures['publications'] %}
    <h3>{{ publication['sectionTitle'] }}</h3>
    <section class="publi-section">
        <svg class="publi-quote"><use href="/assets/sprite.svg#svg-quote"></use></svg>

        <div class="publi-block-wrapper">
            {% for item in publication['items'][-1:(-1-publication['showInHome']):-1] %}
            <div class="publi-block">
                <div class="publi-date">
                    <div class="publi-date-mm">{{ item['month'] }}</div>
                    <div class="publi-date-yy">{{ item['year'] }}</div>
                </div>

                <div class="publi-info">
                    {% if item['link'] %}
                    <a class="publi-title-block" target="_blank" href="{{ item['link'] }}">
                        <span class="publi-title">
                            {{ item['title'] }}
                        </span>
                        
                        <svg><use href="/assets/sprite.svg#svg-arrow-top-right"></use></svg>
                    </a>
                    {% else %}
                    <a class="publi-title-block">
                        <span class="publi-title">
                            {{ item['title'] }}
                        </span>
                    </a>
                    {% endif %}
                    
                    {% if item['journal'] %}
                    <div class="publi-subtitle">
                        {{ item['journal'] }}
                        {% if item['volume'] %}
                            , Vol. {{ item['volume'] }}
                        {% endif %}.
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <a class="publi-more skewed-block" href="https://scholar.google.com.tw/citations?user=tUbPb-QAAAAJ" target="_blank" b-role="btn" b-hoverable>
            <div>More at Google Scholar</div>
            <svg><use href="/assets/sprite.svg#svg-arrow-top-right"></use></svg>
        </a>
    </section>
    {% endfor %}
</section>