<section id="research">
    <div class="section-title-block">
        <div class="section-title">
            <h2>Research</h2>
            <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
        </div>

        <div class="section-subtitle">
            <div style="color: var(--r-yellow);">
                Energy
                <svg width="0.9375rem"><use href="/assets/sprite.svg#svg-energy"></use></svg>
            </div>
            <div style="color: var(--r-orange);">
                Economics
                <svg width="0.625rem"><use href="/assets/sprite.svg#svg-economics"></use></svg>
            </div>
            <div style="color: var(--r-green);">
                Environment
                <svg width="1.125rem"><use href="/assets/sprite.svg#svg-environment"></use></svg>
            </div>
        </div>
    </div>

    {% for research in structures['research'] %}
    <h3>{{ research['sectionTitle'] }}</h3>
    <section class="res-section"  topic-type="ongoing">
        {% for topic in research['topics'] %}
        <div class="res-block">
            <div class="res-fields-block skewed-block" b-role="block">
                <svg class="res-fields">
                    <use data-check="{{ topic['fields']['energy'] }}" href="/assets/sprite.svg#svg-field-energy"></use>
                    <use data-check="{{ topic['fields']['economics'] }}" href="/assets/sprite.svg#svg-field-economics"></use>
                    <use data-check="{{ topic['fields']['environment'] }}" href="/assets/sprite.svg#svg-field-environment"></use>
                </svg>
            </div>

            <a class="res-img-block skewed-block" b-role="block">
                {% include topic['image'] %}
            </a>

            <div class="res-info">
                {% for bigTag in topic['bigTags'] %}
                <div class="res-tag">
                    <span class="res-tag-icon">#</span>
                    <span class="res-tag-text">{{ bigTag }}</span>
                </div>
                {% endfor %}

                <div class="res-info-minor">
                    {% for smallTag in topic['smallTags'] %}
                    {{ smallTag }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endfor %}
</section>