<footer>
    <a class="ftr-logo">
        <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
    </a>

    <div class="ftr-link-wrapper">
        <a class="ftr-link" href="/">Home</a>

        {% for section in pages['index']['structure'] %}
        <a class="ftr-link" href="{{ section.link }}">{{ section.title }}</a>
        {% endfor %}
    </div>

    <div class="ftr-info">
        &copy; {{ year }} E3 Center, National Taiwan University.
        <!-- Rm. 601, No. 188, Sec. 3, Xinhai Rd., Da'an Dist., Taipei City 106327, Taiwan (R.O.C.) -->
    </div>
</footer>