{% set isHomePage = True %}
{% extends "base.html" %}
{% block jsonld %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ResearchOrganization",
  "@id": "https://e3center.caece.net/#organization",
  "name": "E3 Center",
  "alternateName": "Energy, Environment, Engineering Center",
  "url": "https://e3center.caece.net/",
  "logo": "https://e3center.caece.net/assets/images/og-image-1200x630.png",
  "founder": {
    "@type": "Person",
    "@id": "https://e3center.caece.net/members/iyunlisahsieh/#person",
    "name": "I-Yun Lisa Hsieh",
    "url": "https://e3center.caece.net/members/iyunlisahsieh/"
  },
  "parentOrganization": {
    "@type": "CollegeOrUniversity",
    "name": "National Taiwan University",
    "url": "https://www.ntu.edu.tw"
  },
  "member": [
    {% set _ns = namespace(seen=[]) %}
    {% set _comma = joiner(",") %}
    {% for _group in structures.get('members', []) %}
      {% for _m in _group.get('members', []) %}
        {% if _m.get('pageLink') and _m['pageLink'] not in _ns.seen %}
          {% set _ns.seen = _ns.seen + [_m['pageLink']] %}
          {{ _comma() }}{
            "@type": "Person",
            "@id": "https://e3center.caece.net{{ _m['pageLink'] }}/#person",
            "name": {{ (_m.get('chiNameEng') or _m.get('engName') or 'Member') | tojson }},
            "url": "https://e3center.caece.net{{ _m['pageLink'] }}/"
          }
        {% endif %}
      {% endfor %}
    {% endfor %}
  ]
}
</script>
{% endblock %}
{% block content %}
{% include 'home/home.html' %}

<main>

{% for section in pages['index']['structure'] %}

    {% include 'home/' ~ section.id ~ '.html' ignore missing %}

{% endfor %}

</main>
{% endblock %}