<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ member['engName'] }}{% if member['chiNameEng'] %} ({{ member['chiNameEng'] }}){% endif %} | E3 Center</title>
    <meta name="description" content="Housed in the Department of Civil Engineering at National Taiwan University (NTU), E3 research group, directed by Professor I-Yun Lisa Hsieh (謝依芸), is dedicated to overcoming the challenges of sustainable energy transition.">
    <meta name="keywords" content="{{ member['engName'] }}, {{ member['chiName'] }}{% if member['chiNameEng'] %}, {{ member['chiNameEng'] }}{% endif %}, E3 Group, e3, NTU, 台大, 台灣大學">
    <meta name="author" content="{{ member['engName'] }}">

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="YA_W9CdDDbSUMcW4Dr4CPEbGFWW61ZRHtBs-gmPTRlU" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JCJPED8JS6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-JCJPED8JS6');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3L6SMNZ');</script>
    <!-- End Google Tag Manager -->

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Outfit:wght@100..900&display=swap" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/css/general.css?v=2">
    <link rel="stylesheet" href="/css/member.css?v=2">

    <!-- js -->
    <script defer src="/js/general.js"></script>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#0a557e">
    <meta name="msapplication-TileColor" content="#0a557e">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <main>
        <header>

            <div class="logo">
                <a href="/">
                    <img src="/assets/images/e3-logo-text.svg" alt="E3 Center logo">
                </a>
            </div>


            {% set page_content = member['pageContent'] %}
            {% set imgPathFront = member['imgPath'].split('.')[0] %}
            <div class="main-info">

                <div class="photo skewed-block" b-role="block" style="background-image: url({{ imgPathFront }}-800w.webp);">
                    <img
                        loading="lazy"
                        src="{{ member['imgPath'] }}"
                        srcset="
                            {{ imgPathFront }}-200w.webp 200w,
                            {{ imgPathFront }}-400w.webp 400w,
                            {{ imgPathFront }}-600w.webp 600w,
                            {{ imgPathFront }}-800w.webp 800w
                        "
                        sizes=20rem"
                        alt="{{ member['engName'] }} {{ member['chiName'] }}"
                    />
                </div>
                
                <div class="info-text">
                    <div class="main-name">
                        <!-- <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg> -->
                        <h1>{{ member['chiNameEng'] }}</h1>
                    </div>

                    <!-- {% if member['chiName'] or member['chiNameEng'] %} -->
                    
                    <div class="sub-name">
                        <!-- <span>(</span> -->
                        {{ member['chiName'] }}
                        <!-- <span>)</span> -->
                    </div>
                    {% endif %}

                    {% set pos_path = page_content['positionSection']['content'] %}
                    {% if page_content['positionSection'] %}
                    {% if about_content[pos_path] %}

                    <div class="position-text">
                        {{ about_content[pos_path] }}
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if page_content['links'] %}
                    <div class="tags">
                        {% for tag in page_content['links'] %}
                        {% if tag['link'] %}
                        <a href="{{ tag['link'] }}" class="tag skewed-block" b-role="btn" b-hoverable>
                            <svg><use href="{{ tag['icon'] }}"></use></svg>
                            {% if tag['text'] %}{{ tag['text'] }}{% endif %}
                        </a>
                        {% else %}
                        <div class="tag skewed-block" b-role="btn">
                            <svg><use href="{{ tag['icon'] }}"></use></svg>
                            {% if tag['text'] %}{{ tag['text'] }}{% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>



            </div>
        </header>

        {% if page_content['aboutSection'] %}
        {% for section in page_content['aboutSection'] %}
        <section id="about">
            <h2>{{ section['sectionTitle'] }}</h2>
            <div class="content">
                {{ about_content[section['content']] }}
            </div>
        </section>
        {% endfor %}
        {% endif %}

        {% if member.get('interest_content') %}
        <section id="about">
            <h2>Research Interest</h2>
            <div class="content">
                {{ member['interest_content'] }}
            </div>
        </section>
        {% endif %}

        {% if page_content['researchSection'] %}
        {% for section in page_content['researchSection'] %}
        <section id="research">
            <h2>{{ section['sectionTitle'] }}</h2>
            <div class="content">
                {% for topic_id in section['topics'] %}
                {% set topic = research_by_id.get(topic_id) %}
                {% if topic %}
                <div class="res-block">
                    <div class="res-info">
                        {% for tag in topic['bigTags'] %}
                        <div class="res-tag">
                            <span class="res-tag-icon">#</span>
                            <span class="res-tag-text">{{ tag }}</span>
                        </div>
                        {% endfor %}
                        {% if topic['smallTags'] %}
                        <div class="res-info-minor">
                            {{ topic['smallTags'] | join(', ') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endfor %}
        {% endif %}

        {% if page_content['PublicationSection'] %}
        {% for section in page_content['PublicationSection'] %}
        <section id="publication-{{ loop.index }}" class="publication">
            <h2>{{ section['sectionTitle'] }}</h2>
            <div class="content">
                {% if section['manual'] %}
                {% for pub in section['publications'] %}
                <div class="pub-block">
                    <div class="pub-date">
                        <div class="pub-date-slash">/</div>
                        <div class="pub-date-mm">{{ pub['month'] }}</div>
                        <div class="pub-date-yy">'{{ pub['year'] | string | slice(-2) | list | join }}</div>
                    </div>
                    <div class="pub-info">
                        {% if pub['link'] %}
                        <a class="pub-title-block" target="_blank" href="{{ pub['link'] }}">
                            <span class="pub-title">{{ pub['title'] }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="0.625rem">
                                <polygon class="fill-s" points="1.45 .06 1.45 2.49 5.8 2.49 .06 8.22 1.78 9.94 7.51 4.2 7.51 8.55 9.94 8.55 9.94 .06 1.45 .06"/>
                            </svg>
                        </a>
                        {% else %}
                        <div class="pub-title-block">
                            <span class="pub-title">{{ pub['title'] }}</span>
                        </div>
                        {% endif %}
                        {% if pub['subTitle'] %}
                        <div class="pub-subtitle">{{ pub['subTitle'] }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% for citation_id in section['publications'] %}
                {% set pub = pub_by_id[citation_id] %}
                {% if pub %}
                <div class="pub-block">
                    <div class="pub-date">
                        <div class="pub-date-slash">/</div>
                        <div class="pub-date-mm">{{ pub['month'] }}</div>
                        <div class="pub-date-yy">{{ pub['year'] }}</div>
                    </div>
                    <div class="pub-info">
                        <a class="pub-title-block" target="_blank" href="{{ pub['link'] }}">
                            <span class="pub-title">{{ pub['title'] }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="0.625rem">
                                <polygon class="fill-s" points="1.45 .06 1.45 2.49 5.8 2.49 .06 8.22 1.78 9.94 7.51 4.2 7.51 8.55 9.94 8.55 9.94 .06 1.45 .06"/>
                            </svg>
                        </a>
                        <div class="pub-subtitle">{{ pub['journal'] }}{% if pub['volume'] %}, Vol. {{ pub['volume'] }}{% endif %}.</div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </section>
        {% endfor %}
        {% endif %}

    </main>

    <footer>
        <a class="ftr-logo">
            <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
        </a>

        <div class="ftr-link-wrapper">
            <a class="ftr-link" href="/#home">Home</a>
            <a class="ftr-link" href="/#about-us">About Us</a>
            <a class="ftr-link" href="/#members">Members</a>
            <a class="ftr-link" href="/#research">Research</a>
            <a class="ftr-link" href="/#publication">Publication</a>
            <a class="ftr-link" href="/#news">News</a>
            <a class="ftr-link" href="/#group-life">Group Life</a>
            <a class="ftr-link" href="/#contact-us">Contact Us</a>
        </div>

        <div class="ftr-info">
            &copy; {{ year }} E3 Center, National Taiwan University. All rights reserved.
        </div>
    </footer>

    <div class="body-bg">
        <div class="body-bg-1"></div>
        <div class="body-bg-2"></div>
        <div class="body-bg-3"></div>
    </div>

    <a class="to-top-btn skewed-block" href="#top" b-role="btn" b-hoverable>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="1.25rem">
            <polygon class="fill-m" points="8.5,19.9 8.5,5.8 2.9,11.4 0.8,9.3 10,0.1 19.2,9.3 17.1,11.4 11.5,5.8 11.5,19.9"/>
        </svg>
        Top
    </a>

    <button class="menu-btn skewed-block" type="button" b-role="btn" b-hoverable>
        <svg><use href="/assets/sprite.svg#svg-menu"></use></svg>
        <p>Menu</p>
    </button>

    <nav class="menu display-none">
        <div class="menu-bg"></div>
        <ul class="menu-wrapper">
            <ui>
                <button type="button" class="menu-close-btn skewed-block" b-role="btn" b-hoverable hover-text="Home">
                    <svg><use href="/assets/sprite.svg#svg-close"></use></svg>
                </button>
            </ui>
            <ui>
                <a href="/#home" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="Home">
                    <svg><use href="/assets/sprite.svg#svg-home"></use></svg>
                    <span>Home</span>
                </a>
            </ui>
            <ui>
                <a href="/#about-us" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="About Us">
                    <svg><use href="/assets/sprite.svg#svg-info"></use></svg>
                    <span>About Us</span>
                </a>
            </ui>
            <ui>
                <a href="/#members" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="Members">
                    <svg><use href="/assets/sprite.svg#svg-members"></use></svg>
                    <span>Members</span>
                </a>
            </ui>
            <ui>
                <a href="/#research" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="Research">
                    <svg><use href="/assets/sprite.svg#svg-scholar"></use></svg>
                    <span>Research</span>
                </a>
            </ui>
            <ui>
                <a href="/#publication" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="Publication">
                    <svg><use href="/assets/sprite.svg#svg-book"></use></svg>
                    <span>Publication</span>
                </a>
            </ui>
            <ui>
                <a href="/#news" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="News">
                    <svg><use href="/assets/sprite.svg#svg-news"></use></svg>
                    <span>News</span>
                </a>
            </ui>
            <ui>
                <a href="/#group-life" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="Group Life">
                    <svg><use href="/assets/sprite.svg#svg-picture"></use></svg>
                    <span>Group Life</span>
                </a>
            </ui>
            <ui>
                <a href="/#contact-us" class="menu-a skewed-block" b-role="btn" b-hoverable hover-text="Contact Us">
                    <svg><use href="/assets/sprite.svg#svg-send"></use></svg>
                    <span>Contact Us</span>
                </a>
            </ui>
        </ul>
    </nav>
</body>
</html>
